@charset "UTF-8";
/* CSS Document */

.nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100px;
	height: 100vh;
	animation: navColor 20s ease infinite;
}

.nav--web {
	content: url("/svg/web.svg");
	max-width: 34px;
	margin: 50px auto;
}

.nav--print {
	content: url("/svg/print.svg");
	max-width: 34px;
	margin: 50px auto;
}

.nav--photo {
	content: url("/svg/photo.svg");
	max-width: 34px;
	margin: 50px auto;
}

.nav--other {
	content: url("/svg/other.svg");
	max-width: 34px;
	margin: 50px auto;
}

@keyframes navColor {
  0% {
    background-color: #481DFF;
  }
  50% {
    background-color: #0E82FF;
  }
  100% {
    background-color: #481DFF;
  }
}