@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i');

* {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #4068E4;
	font-weight: 600;
	animation: textColor 75s ease infinite;
	border-bottom: solid 1px;
}

body {
	margin: 0 0 0 150px;
}

h1 {
	font-weight: 700;
	font-size: 72px;
	margin-top: 0;
	color: #4068E4;
}

h2 {
	font-weight: 700;
	font-size: 16px;
	color: #4068E4;
	margin-bottom: 0px;
}

h3 {
	font-weight: 700;
	font-size: 16px;
	color: #4068E4;
	margin-bottom: 15px;
	margin-top:50px;
}

h4 {
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 15px;
	color: #484848;
}

p {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #484848;
}

.nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 80px;
	height: 100vh;
	text-align: center;
	animation: navColor 75s ease infinite;
	background-color: #4068E4;
}

.logo {
	content: url("/svg/logoV2.svg");
	margin: 40px auto 20px auto;
	width: 46px;
	cursor: pointer;
	z-index: 100;
	position: absolute;
	left: 17px;
}



/*-------------------------------------------Header-----------------------------------*/

.header {
	width: 100%;
	animation: navColor 75s ease infinite;
	background-color: #4068E4;
	height: 60px;
}

.header--nav {
	max-width: 1200px;
	margin: 0 auto;
}

.header--logo {

}


.header {
	width: 100%;
	animation: navColor 75s ease infinite;
	background-color: #4068E4;
}


@media screen and (max-width: 1300px) {
	.near {
		display: none;
	}
}

.mid {
	margin-top: 250px;

}

@media screen and (max-width: 1660px) {
	.mid {
		display: none;
	}
}

.far {

}

@media screen and (max-width: 2015px) {
	.far {
		display: none;
	}
}



@keyframes navColor {
	0% {
    	background-color: #0E82FF;
	}

	/*25% {
		background-color: #A636FF;
	}*/

	50% {
		background-color: #481DFF;
	}

	/*75% {
		background-color: #00D0AC;
	}*/

	100% {
    	background-color: #0E82FF;
	}
}

@keyframes textColor {
	0% {
    	color: #0E82FF;
	}

	/*25% {
		background-color: #A636FF;
	}*/

	50% {
		color: #481DFF;
	}

	/*75% {
		background-color: #00D0AC;
	}*/

	100% {
    	color: #0E82FF;
	}
}

/*background: linear-gradient(317deg, #2981e8, #6db7ff, #9d6dff);
	background-size: 600% 600%;*/
